.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-modify {
    display: flex;
    align-items: center;
}

.info-modify > div {
    margin-left: 10px;
}

.form-check {
    display: inline-block;
    margin-right: 5px;
}

.issues {
    width: 50%;
}

.issue {
    margin-top: 10px;
}

.option,
.description {
    margin-top: 30px;
}

.issue-name label img,
.option label img,
.description label img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 15px;
    margin-right: 5px;
}

.option-delete:hover {
    content: url("/images/option-delete-hover.png");
}

.option img:hover {
    cursor: pointer;
}

.issue-edit {
    width: fit-content;
    margin: 40px 0 20px auto;
}

.issue-delete {
    margin-left: 10px;
}