.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    margin-top: 50px;
}

.voting_title {
    font-size: 3rem;
    font-weight: 800;
}

.time{
    font-size: 2rem;
    color: grey;
}

.login-input {
    width: 50%;
}