.voting {
    display: flex;
    justify-content: center;
}

.vote-for-issue,
.vote-for-person {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issue-description {
    width: 80%;
    white-space: pre-line;
    font-size: 2rem;
}

.candidates {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}

.candidate {
    text-align: center;
    margin: 0 20px;
    border: 5px solid transparent;
}

.candidate:hover {
    cursor: pointer;
}

.circle-image {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 280px;
    height: 280px;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.candidate p {
    font-size: 1.5rem;
}

.err {
    font-size: 8rem;
    margin-top: 50px;
}

.opinion,
.confirm {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
}

.opinion div,
.confirm div {
    width: 180px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
}
